@model MiProyectoWeb.Models.Producto

<h1>Detalles del Producto</h1>

<div>
    <strong>Nombre:</strong> @Model.Nombre <br />
    <strong>Precio:</strong> @Model.Precio
</div>

<p>
    <a asp-action="Index">Volver a la lista</a>
</p>
